body {
  background-color: #8fbc8f  ;
  font-family: "Tahoma", sans-serif;
  color: #333;
  text-align: right;
}

h1 {
  color:#b78727  ;
  font-size: 28px;
}

a {
  color: #0066cc;
  text-decoration: none;
}
