body {
  background-color: #8fbc8f  ;
  font-family: "Tahoma", sans-serif;
  color: #333;
  font-size:28px;
}

h1 {
  color:#b78727  ;
  font-size: 64px;
}

a {
  color: #000000;
  text-decoration: none;
}
content-area {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  opacity: 0;
  transition: opacity 0.5s ease;
  height: auto;
}
content-area.visible {
  opacity: 1;
}

content-area.hidden {
  opacity: 0;
}
nav{
   dir="ltr";
}
