body {
  background-image: url("/Screenshot 2025-09-08 074924.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center ;
  background-attachment: fixed ;
  font-family: "Tahoma", sans-serif;
  color: white ;
  font-size:28px;
}
@media (max-width: 600px) {
  nav a {
    display: block;
  }
  body {
    font-size: 5px;
  }
}
h1 {
  color:#5BC0EB  ;
  font-size: 64px;
}

a {
  color: #F885D0;
  text-decoration: none;
}
a:hover {
  color: red;
}
content-area {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  opacity: 0;
  transition: opacity 0.5s ease;
  height: auto;
}
content-area.visible {
  opacity: 1;
}

content-area.hidden {
  opacity: 0;
}

